.about-us {
  margin: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__title {
  .middle-title;
  .bold;
  color: @black;
}

.about-us__item-title {
  .small-title;
  .bold;
  color: @black;
}
