.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  width: 320px;
  box-sizing: border-box;
  padding: 0 30px;
  padding-top: 35px;
  margin: 0 auto;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  .bold;
  color: @black;
}

.contacts__description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 35px;
}

.contacts__adress {
  margin: 0;
}

.contacts__header {
  margin: 0;
  display: flex;
  .regular;
  vertical-align: top;
  box-sizing: border-box;
  width: 77px;
}

.contacts__mail-link {
  color: @graphite;
  text-decoration: none;
}

.contacts__map-image {
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 100%;
    padding: 0;
    margin: 0;
  }


  .contacts__wrapper {
    width: 768px;
    box-sizing: border-box;
    padding: 50px;
    margin: 0 auto;
  }


  .contacts__title {
    .big-title-tablet;
    padding-top: 65px;
    padding-bottom: 60px;
  }

  .contacts__info {
    display: flex;
  }

  .contacts__description {
    padding-right: 50px;
  }


  .contacts__button {
    width: 768px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 1150px;
    box-sizing: border-box;
    padding: 50px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    margin: 0;
    padding: 0;
    padding-left: 175px;
  }

  .contacts__total-wrapper {
    position: relative;
    padding-right: 50%;
    max-width: 100%;
    min-height: 462px;
  }

  .contacts__map-image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: calc(50% - 50px);
    max-height: 462px;
    overflow: hidden;
  }

  .contacts__button {
    display: block;
    margin-top: auto;
  }

  .contacts__info {
    flex-direction: column;
  }

  .contacts__description {
    padding: 0;
    width: 330px;
  }

  .contacts__title {
    .big-title-desktop;
    padding-top: 75px;
    padding-bottom: 60px;
  }
}
