.contacts {
  margin: 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  .bold;
  color: @black;
}

.contacts__description {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.contacts__header {
  .regular;
  vertical-align: top;
}

.contacts__mail-link {
  color: @graphite;
  text-decoration: none;
}
