.feedback {
  margin: 30px;
}

.feedback__title {
  font-size: 25px;
  line-height: 30px;
  .bold;
  color: @black;
}

.feedback__text {
  font-size: 15px;
  line-height: 30px;
  .regular;
}

.feedback__author {
  font-size: 17px;
  line-height: 24px;
  .bold;
  font-style: normal;
}

.feedback__nickname-link {
  font-size: 17px;
  line-height: 30px;
  .regular;
  color: @graphite;
  text-decoration: none;
}
