.bold() {
  font-weight: 700;
}

.regular() {
  font-weight: 400;
}

.big-title() {
  font-size: 27px;
  line-height: 30px;
}

.big-title-tablet() {
  font-size: 43px;
  line-height: 50px;
}

.big-title-desktop() {
  font-size: 53px;
  line-height: 57px;
}

.middle-title() {
  font-size: 25px;
  line-height: 30px;
}

.middle-title-tablet() {
  font-size: 43px;
  line-height: 50px;
}

.small-title() {
  font-size: 17px;
  line-height: 20px;
}

.small-title-tablet() {
  font-size: 20px;
  line-height: 22px;
}

.text-descripton() {
  font-size: 15px;
  line-height: 30px;
}

.block-item-border() {
  border: 1px solid #ececec;
}

.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}
