.order-form {
  width: 320px;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0 auto;
}

.order-form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.order-form__fieldset-wrapper {
  padding: 0;
  margin: 0;
  border: none;
}

.order-form__description {
  font-size: 13px;
  line-height: 24px;
  .regular;
}

.order-form__title {
  font-size: 17px;
  line-height: 16px;
  .bold;
  color: @green;
}

.order-form__item {
  font-size: 17px;
  line-height: 18px;
  .bold;
  color: @black;
}

.order-form__necessary {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.order-form__text::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  .regular;
  color: @graphite;
  opacity: 0.3;
}

.order-form__text::-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  .regular;
  color: @graphite;
  opacity: 0.3;
}

.order-form__text:-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  .regular;
  color: @graphite;
  opacity: 0.3;
}

.order-form__text:-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  .regular;
  color: @graphite;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .order-form {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .order-form__description {
    width: 768px;
    box-sizing: border-box;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .order-form__fieldset:nth-of-type(even) {
    background-color: @dark-grey;
  }

  .order-form__fieldset-wrapper {
    background-color: @dark-grey;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order-form__total-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 768px;
    padding: 50px;
    margin: 0 auto;
  }

  .order-form__total-wrapper--indent {
    padding-bottom: 0;
    padding-top: 0;
  }

  .order-form__wrapper {
    display: flex;
    flex-direction: column;
    width: 501px;
  }

  .order-form__info {
    width: 768px;
    box-sizing: border-box;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .order-form__necessary {
    order: 1;
  }

  .order-form__title {
    width: 167px;
  }
}

@media (min-width: @desktop-width) {
  .order-form__total-wrapper {
    width: 1150px;
  }

  .order-form__description {
    width: 1150px;
    padding: 0 225px;
    padding-top: 130px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .order-form__title {
    width: 175px;
    text-align: center;
  }
}
