.page-footer {
  background-color: #f1f1f1;
}

.page-footer__social {
  padding-left: 56px;
  padding-right: 56px;
  margin: 30px;
}

.page-footer__copyright {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 39px;
  padding-right: 39px;
}
