.page-main__title {
  width: 260px;
  margin: 0 auto;
  margin-top: 70px;
  .big-title;
  .bold;
  color: @black;
  text-align: center;
}

.page-main__title--inner {
  width: 100%;
  background-color: @dark-grey;
  margin-top: 0;
  padding: 70px 0;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    width: 550px;
    margin: 0 auto;
    margin-top: 160px;
    .big-title-tablet;
  }

  .page-main__title--inner {
    width: 100%;
    margin-top: -40px;
    padding: 100px 0 75px 0;
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    width: 650px;
    margin: 0 auto;
    margin-top: 160px;
    .big-title-desktop;
  }

  .page-main__title--inner {
    width: 100%;
    margin-top: -60px;
    padding: 100px 0 90px 0;
  }
}
