.production-process {
  .block-item-border;
  margin: 30px;
}

.production-process__title {
  font-size: 17px;
  line-height: 24px;
  .bold;
  color: @black;
}

.production-process__description {
  font-size: 13px;
  line-height: 24px;
  .regular;
}

.production-process__video {
  width: 260px;
  height: 150px;
  background-color: @grey;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
