.top-product {
  display: flex;
  flex-direction: column;
  width: 320px;
  box-sizing: border-box;
  padding: 30px;
  margin: 0 auto;
}

.top-product__title {
  .middle-title;
  .bold;
  color: @black;
  margin: 0;
}

.top-product__note {
  font-size: 17px;
  line-height: 20px;
  .bold;
  text-transform: uppercase;
  color: @green;
}

.top-product__text {
  font-size: 15px;
  line-height: 24px;
  .regular;
}

.top-product__button {
  text-align: center;
}

.top-product__description {
  font-size: 15px;
  line-height: 20px;
  .regular;
  text-align: left;
}

.top-product__header {
  .regular;
}

.top-product__product-price {
  font-size: 17px;
  line-height: 24px;
  .bold;
  text-align: center;
}

.top-product__product-image {
  margin-top: 25px;
}

@media (min-width: @tablet-width) {
  .top-product {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    padding: 50px;
  }

  .top-product__title {
    .middle-title-tablet;
  }

  .top-product__text {
    width: 320px;
  }

  .top-product__wrapper {
    width: 295px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .top-product__order {
    margin-top: -100px;
    width: 295px;
  }

  .top-product__note {
    width: 78px;
    text-align: center;
    margin-left: auto;
    line-height: 17px;
  }

  .top-product__button {
    font-size: 17px;
    line-height: 20px;
    display: block;
    text-align: center;
  }

  .top-product__product-image {
    margin-left: auto;
  }

  .top-product__product-price {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .top-product {
    width: 1150px;
  }

  .top-product__text {
    width: 345px;
  }

  .top-product__title {
    width: 525px;
    order: 1;
  }

  .top-product__note {
    width: 79px;
    order: 0;
    margin-left: 47px;
    margin-right: 47px;
  }

  .top-product__product-image {
    order: 2;
  }

  .top-product__wrapper {
    margin-top: -250px;
    margin-left: 175px;
    order: 3;
    margin-right: 525px;
  }

  .top-product__order {
    margin: 0;
    margin-left: 175px;
    order: 4;
    text-align: left;
  }
}
