.top-product {
  margin: 30px;
}

.top-product__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.top-product__note {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.top-product__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.top-product__description {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.top-product__header {
  font-weight: 400;
}

.top-product__product-price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
